*{
    margin:0px;
    box-sizing: border-box;
    
}


body{

    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7)) , url(./img/school.jpg);
    width:100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
    color: #fff;
    min-height:100vh;
}

.flex-h{
    display: flex;
    margin-bottom:20px;
    justify-content: space-between;
    align-items: center;
}
.container{
    width:100%;
    padding:60px 16px 16px 16px;
    max-width:1120px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.wrapper {
    width: 500px;
    margin-right: 30px;
}
.complete-wrapper{
width:calc(100% - 530px);
}
 .show-data-in{
    border-radius:10px;
    overflow: auto;
    height:310px;
}


.student-data{
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
}

.flex-h input{
   
    width:100%;
    padding: 10px;
    border: 1px solid #80808054;
    outline: none;
    border-radius: 4px;
    text-transform: uppercase;
}

#button-id{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    width: calc(100% - 130px);
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: baseline; */
    margin-left: 130px;
    cursor: pointer;
    background-color: #000;
    font-size:16px;
    transition: .5s ease-in-out;
    color: #fff;
}

#button-id:hover{
    background-color:#fff;
    color: #000;
}
h2{
    text-align: center;
    margin-bottom:20px;
}
th,td{
    /* //width:150px; */
    text-align: left;
    padding-right:20px;
}






.designbtn.col{
 background-color:red;
}
.designbtn{
    padding:6px 10px;
    color:#fff;
    border:none;
    outline:none;
    cursor: pointer;
    background-color: black;
    border-radius:4px;
    font-size:14px;
}

.inputWrapper{
    position: relative;
     width:calc(100% - 130px);
}
.errordesign{
    position: absolute;
    BOTTOM: -15PX;
    FONT-SIZE: 12px;
    color: red;
    left: 2px;
}

.table-has-data{
    display:none;
}
  @media (max-width:880px){
        .container{
            flex-direction: column;
            padding:16px;
        }
        .wrapper{
            width:100%;
            margin-bottom:30px;
        }
        .complete-wrapper{
            width:100%;
        }
        .inputWrapper{
            width:100%;
        }
        .flex-h{
            align-items:start;
            flex-direction: column;
        }
        .flex-h div:first-child{
            margin-bottom:4px;
        }
        #button-id{
            width: 100%;
            margin-left:0px;
        }
        th,td{
            font-size:13px;
            white-space: nowrap;
            padding-right:6px;
        }
        .designbtn{
                font-size: 12px;
                height: 28px;
                padding: 0px 12px;
        }
        .show-data-in{
            overflow-x: auto;
        }
        .show-data-in table{
            width:100%;
        }
  } 



